.form {
  border: var(--border-emphasis);
  background-color: var(--brutalist-white);
  margin: var(--space-4) 0;
}

.accent {
  height: var(--space-2);
  background-color: var(--brutalist-primary);
}

.inputs {
  padding: var(--space-3);
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: var(--space-2);
  align-items: center;
}
